{{!-- template-lint-disable no-forbidden-elements --}}
{{page-title "Ember Velcro - Ember addon for Floating UI"}}

<div class="w-screen min-h-screen px-4 mx-auto max-w-screen-2xl">
  <header class="py-4 border-b">
    <h1 class="text-5xl font-bold text-center md:font-black md:text-7xl lg:text-8xl">Ember Velcro</h1>
    <p class="mt-1 text-lg font-bold text-center md:text-2xl">Ember Addon for <a href="https://floating-ui.com/" target="_blank" rel="noopener noreferrer">Floating UI</a></p>
  </header>

  <Velcro as |velcro|>
    <p class="hook" {{velcro.hook}}>
      Hook (modifier)
    </p>
    <div class="loop" {{velcro.loop}}>
      Loop (modifier)
    </div>
  </Velcro>

  <Velcro as |velcro|>
    <p class="hook" {{velcro.hook}}>Velcro target</p>
    <p class="loop" {{velcro.loop}}>Velcro</p>
  </Velcro>


  <Toggler as |x|>
    <Velcro as |velcro|>
      <button class="hook" {{velcro.hook}} {{on 'click' x.toggle}}>toggle</button>
      {{#if x.isActive}}
        <dialog open {{velcro.loop}}>Velcro</dialog>
      {{/if}}
    </Velcro>
  </Toggler>
</div>

<style>
    .loop, dialog  {
      width: max-content;
      border: 1px solid;
      font-weight: bold;
      background: #eee;
      padding: 5px;
      border-radius: 4px;
      font-size: 90%;
      filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.4));
      z-index: 10;
    }
    .hook {
      padding: 0.5rem;
      border: 1px solid;
      display: inline-block;
      color: black;
    }
</style>